[submodule "central"]
    path = central
    url = https://github.com/MakabonTech/custumization-odk-central.git
[submodule "client"]
    path = client
    url = https://github.com/MakabonTech/custumization-odk-central.git
[submodule "server"]
    path = server
    url = https://github.com/MakabonTech/custumization-odk-central.git